html {
  background: #610e18;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#landing {
  display: flex;
  flex-direction: column;
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291e, #ed213a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: calc(var(--vh, 1vh) * 100);
}

#title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#title img {
  max-width: 700px;
}

#root {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

#game {
  border: 2px solid #fbe122;
  padding: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#controls {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-file {
  display: none;
}

#controls button,
#get-file {
  width: 140px;
  height: 6vh;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #eeeeee;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 2vh 10px;
}

#controls > button:hover,
#get-file:hover,
.hovered {
  background-color: #fff18a !important;
  box-shadow: 0px 15px 20px #fff18a67 !important;
  color: black !important;
  transform: translateY(-7px);
}

#frame-range-wrapper {
  width: 140px;
  height: 6vh;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 15px;
  border: 2px black solid;
  z-index: 2;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: #eeeeee;
  margin: 2vh 10px;
  transition: all 0.3s ease 0s;
}

#frame-range-wrapper p {
  user-select: none;
  pointer-events: none;
  color: #000;
  z-index: 4;
}

#frame-range-wrapper:hover {
  background-color: #fff18a !important;
  box-shadow: 0px 15px 20px #fff18a67 !important;
  color: black !important;
  transform: translateY(-7px);
}

#frame-range-wrapper:hover #frame-range::-webkit-slider-thumb {
  background: #ffffffb2;
}

#frame-range {
  -webkit-appearance: none;
  background: transparent;
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#frame-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

#frame-range:focus {
  outline: none;
}

.brush-canvas {
  border: 2px solid #fbe122;
  padding: 1px;
  margin-bottom: 2vh;
}

#down-arrow {
  position: fixed;
  bottom: 0;
  right: 1.5em;
  transform: translateX(-50%);
  margin: auto;
  cursor: pointer;
  opacity: 0;
  transition: ease-out 0.2s;
}

#up-arrow {
  position: fixed;
  bottom: 1.5em;
  left: 1.5em;
  /* transform: translateX(-50%); */
  margin: auto;
  cursor: pointer;
  opacity: 0;
  transition: ease-out 0.2s;
}

#up-arrow-img {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);

  filter: FlipH;
  -ms-filter: 'FlipH';
}

#gallery-wrapper {
  background-image: url(../assets/MAN_UNITED.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gallery-category img {
  width: 22em;
  margin: 2em auto 0em auto;
}

#brush-gallery {
  display: flex;
  max-width: 70em;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.brush-demo-canvas {
  border: 2px solid #fbe122;
  padding: 1px;
}

.brush-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 3em;
  width: 12em;
  height: 12em;
  background: #222831;
  border-radius: 15px;
  border: #393e46 2px solid;
  transition: border-color 0.1s;
  user-select: none;
}

.brush-item:hover {
  border-color: #fbe122;
}

.brush-item p {
  height: 15%;
  color: #eeeeee;
  text-align: center;
  margin-top: 5px;
}

#pattern-gallery {
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  cursor: pointer;
}

.pattern-canvas {
  border: 2px solid #da291c;
  padding: 1px;
}

.pattern-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 1em;
  padding: 0.5em;
  width: 16em;
  height: 16em;
  background: #222831;
  border-radius: 15px;
  border: #393e46 2px solid;
  transition: border-color 0.1s;
  user-select: none;
}

.pattern-item:hover {
  border-color: #fbe122;
}

.pattern-item p {
  height: 8%;
  color: #eeeeee;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

/* BOUNCE  */

.bounceDownwards {
  -moz-animation: bounceDownwards 3s infinite;
  -webkit-animation: bounceDownwards 3s infinite;
  animation: bounceDownwards 3s infinite;
}

.bounceUpwards {
  -moz-animation: bounceUpwards 3s infinite;
  -webkit-animation: bounceUpwards 3s infinite;
  animation: bounceUpwards 3s infinite;
}

@-moz-keyframes bounceDownwards {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounceDownwards {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounceDownwards {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounceUpwards {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(30px);
    transform: translateY(30px);
  }
  60% {
    -moz-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@-webkit-keyframes bounceUpwards {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  60% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}

@keyframes bounceUpwards {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  60% {
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
