* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title img {
  width: 680px;
}

#root {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

#defaultCanvas0 {
  border: 2px solid #1fab89;
  padding: 1px;
}

#controls {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-file {
  display: none;
}

#controls button,
#get-file {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #eeeeee;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 20px 10px;
}

#controls > button:hover,
#get-file:hover,
.hovered {
  background-color: #00adb5 !important;
  box-shadow: 0px 15px 20px #00acb56b !important;
  color: #fff !important;
  transform: translateY(-7px);
}

#defaultCanvas1 {
  border: 2px solid #007065;
  padding: 1px;
  margin-bottom: 20px;
}
